<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/employees">Employees</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Employee</li>
    </ol>
</nav>
<h2 class="padding">Add Employee <span style="color: yellowgreen;">{{employee.firstName}}</span></h2>
<form [formGroup]="employeeForm" (ngSubmit)="submitForm()">
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" class="form-control" formControlName="firstName"
                placeholder="Enter First name">
        </div>
        <div class="col-md-4 form-group">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" class="form-control" 
            formControlName="lastName"
            placeholder="Enter Last name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="hireDate">Hire Date</label>
            <input type="date" name="hireDate" class="form-control" 
            formControlName="hireDate"
            placeholder="Enter hire date">
        </div>
        <div class="col-md-4 form-group">
            <label for="age">Age</label>
            <input type="number" name="age" class="form-control" 
            formControlName="age"
            placeholder="Enter age">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" 
            formControlName="email"
            placeholder="Enter Email">
        </div>
        <div class="col-md-4 form-group">
            <label for="deptId">Department</label>
            <select name="deptId" placeholder="Enter department" 
            formControlName="deptId"
            class="form-control">
                <option value="1">IT</option>
                <option value="2">Sales</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="isActive">Is Active</label><br>
            <input type="checkbox" name="isActive"  formControlName="isActive">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <button type="submit" class="btn btn-success btn-block">Add</button>
            <button type="button" class="btn btn-success btn-block" (click)="delete()">Delete</button>
            <button type="button" class="btn btn-success btn-block" (click)="update()">Update</button>
        </div>
    </div>
</form>