<div class="row" style="margin-top: 200px;">
    <div class="col-md-12 text-center">
        <h2>Login</h2>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4 mt-5">
        <form>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" placeholder="Enter Username">
                </div>
                <div class="col-md-12 form-group">
                    <input type="password" class="form-control" placeholder="Enter Password">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <!-- <button class="btn btn-primary btn-block" routerLink="/departments">
                        Login
                    </button> -->
                    <button class="btn btn-primary btn-block" (click)="handleClick()">
                        Login
                    </button>
                </div>
                <div class="col-md-6 form-group">
                    New User? <a routerLink="/register">Register</a>
                </div>
                <div class="col-md-6 form-group text-right">
                    <a href="#">Forgot Password? </a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>