<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ id === 0 ? 'Add' : 'Edit' }}
                    Student</li>
            </ol>
        </nav>
        <div class="border padding">
            <h3>{{ id === 0 ? 'Add' : 'Edit' }} Student: <span style="color: green;">Template Driven Form</span></h3>
            <form #postForm="ngForm">
                <!--1-->
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="fname">First name</label>
                        <input required type="text" name="fname" class="form-control" placeholder="Enter first name"
                            [(ngModel)]="student.firstName" #fname="ngModel">
                        <div class="error" [hidden]="fname.valid || fname.pristine">
                            First name is required
                        </div>

                    </div>
                    <div class="col-md-6 form-group">
                        <label for="lname">Last name</label>
                        <input required type="text" name="lname" class="form-control" placeholder="Enter last name"
                            [(ngModel)]="student.lastName" #lname="ngModel">
                        <div class="error" [hidden]="lname.valid || lname.pristine">
                            Last name is required
                        </div>
                    </div>
                </div>
                <!--2-->
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="age">Age</label>
                        <input type="number" name="age" class="form-control" placeholder="Enter age" [(ngModel)]="student.age">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="dateOfBirth">Date of Birth</label>
                        <input type="text" name="dateOfBirth" class="form-control" [(ngModel)]="student.dateOfBirth"
                            #dob="ngModel">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button [disabled]="postForm.invalid" type="button" (click)="submitData()"
                            class="btn btn-primary">
                            {{ id === 0 ? 'Add' : 'Update' }} Student
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" (click)="reset()" class="btn btn-secondary">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>